.cart {
  margin: 40px 0;
  padding: 20px;
  border: solid 1px;

  .item {
    display: flex;
    justify-content: space-between;
    .qty {

    }
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}
